<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanklab.mathless.mapper.DeployRecordMapper">
  <resultMap id="BaseResultMap" type="com.tanklab.mathless.pojo.DeployRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="user" jdbcType="BIGINT" property="user" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="record" jdbcType="LONGVARCHAR" property="record" />
  </resultMap>
</mapper>