<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanklab.mathless.mapper.FunctionsMapper">
  <resultMap id="BaseResultMap" type="com.tanklab.mathless.pojo.Functions">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="category" jdbcType="BIGINT" property="category" />
    <result column="memory" jdbcType="BIGINT" property="memory" />
    <result column="timeout" jdbcType="BIGINT" property="timeout" />
    <result column="gitlab_project" jdbcType="BIGINT" property="gitlabProject" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
  </resultMap>
</mapper>